<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資夢</title>
	<meta charset="utf-8" />
	<meta name="description" content="葛拉漢說過最明智的投資，是在其事業化程度極大時。投資的本質就是事業，成功的投資人都是事業化管理自己的投資。學習線上投資課程，不僅幫助投資環境更加完善，也是讓自己成為投資成功案例。">
	<meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 事業化管理, 葛拉漢, , 投資成功案例, 投資環境, 線上投資課程">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>夢醒時分：投資不能靠運氣</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>嘉鼎資本成立於1999年，創始人原在投信公司擔任要員，但看到顧客被層層剝削卻又沒有合理的成果，於是決定出走，希望幫助自己的客戶能夠離開這樣的惡質現象。</p>
            <p>成立之初採用過各種先進方式管理顧客的投資，從技術分析到量化分析，也有導入各類避險機制，但在科技泡沫後的幾年發現，這些短線取利的行為都取決於運氣。於是開始反思為什麼投資只能依賴這些不可靠的技術？難道沒有更進步的方法嗎？</p>
            <p>於是，嘉鼎資本反覆鑽研各種投資經驗、故事、知識、模式後得出一個驚人的發現——<mark>投資的本質就是事業，成功的投資人都是事業化管理自己的投資。</mark></p>
            <span style="color:black;font-weight:default">■葛拉漢 : 「最明智的投資，是在其事業化程度極大時。」</span>
			<p>根據嘉鼎資本的研究，能持續資本成長的投資人，都是事業化的方式管理自己的投資。簡單來說，就是有系統的記錄與管理你的投資行為。而投資事業化管理就是為你的投資建立事業化報表、嚴謹記錄你的投資歷程、正確的衡量事業變化。</p>
			<span style="color:black;font-weight:default">■投資事業的成功案例</span></br>
			<p>1. 平常忙碌的王太太，與嘉鼎資本採取合作模式......到2015年底，其投資事業資本額為700萬美金（成立時資本額200萬美金），年化成長已達到了14%......<%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case1") %></p>
			<p>2. 杜爺爺與嘉鼎資本合作採取的是顧問模式，2013年時，他的投資事業資本額已達27萬美金（2009年成立資本額15萬美金），年化資本成長超過16%......<%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case2") %></p>
			<p>3. 吳先生在2011年參加嘉鼎資本投資事業管理課程，循著課程教學一步步從開戶到建立自己的投資事業，現在吳先生投資事業已達6萬美金的資本額（成立時資本額3萬美金），年化成長達13%......<%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case3") %></p>
			<span style="color:black;font-weight:default">■投資事業化後一定成功？</span></br>
			<p>必須要說，投資事業並不能保證成功，但是能保證成長，投資不可能永遠都是正確決策，只是傳統的方式不會讓你從錯誤中修正與學習，但投資事業可以。</p>
            <p>傳統的投資失敗了，你只會看到股價歸零，然後公司下市或倒閉，你並沒有從這個錯誤中學習到任何教訓。但是事業化報表、投資歷程紀錄卻能夠讓你更早發現投資出現的問題，並且事後回顧可以發現當初所犯的錯誤在哪。<mark>錯誤的投資不可怕，一直重複錯誤的投資行為才可怕！</mark></p>
            <span style="color:black;font-weight:default">■免走冤枉路  共同為提升投資環境貢獻一份心力</span></br>
            <p>金融海嘯過後我們發現，只透過嘉鼎資本的管理對於台灣的資本市場的改善太過緩慢，所以決定把這套投資事業管理打造成系列課程，藉由網路的力量讓更多投資人能夠學會建立自己的投資事業，以及管理投資事業。</p>
            <p>開發投資事業的知識與管理方法確實很難，嘉鼎資本也是經過15年的研究與實測才走到這個領域，但是我們走過的冤枉路、浪費的時間與資金，你都不用重蹈覆轍，只要你能完成系列課程，我們保證你一定學得會如何建立自己的投資事業。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<header class="special container">
          <span class="icon fa-binoculars"></span>
            <h2>投資事業成功案例</h2>
        </header>
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>（48歲，大型企業高階主管）</h3>
				</header>
				<p>平常忙碌的王太太，與嘉鼎資本採取合作模式......到2015年底，其投資事業資本額為700萬美金（成立時資本額200萬美金），年化成長已達到了14%.....</p>
				<footer>
				  <ul class="buttons">
					<li><%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case1"), class: "button small" %></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>（70歲，退休族）</h3>
				</header>
				<p>杜爺爺與嘉鼎資本合作採取的是顧問模式，2013年時，他的投資事業資本額已達27萬美金（2009年成立資本額15萬美金），年化資本成長超過16%......</p>
				<footer>
				  <ul class="buttons">
					<li><%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case2"), class: "button small" %></li>
				  </ul>
				</footer>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<header>
				  <h3>（35歲，外商公司中階主管）</h3>
				</header>
				<p>吳先生在2011年參加嘉鼎資本投資事業管理課程，循著課程教學一步步從開戶到建立自己的投資事業，現在吳先生投資事業已達6萬美金的資本額（成立時資本額3萬美金），年化成長達13%......</p>
				<footer>
				  <ul class="buttons">
					<li><%= link_to "〈點這裡看更多〉", testimonial_index_path(:anchor => "case3"), class: "button small" %></li>
				  </ul>
				</footer>
			  </section>
            </div>
		  </div>
			<footer class="major">
			  <ul class="buttons">
				<li><%= link_to "上一節", introduction_sections_path, class: "button" %></li>
				<li><%= link_to "下一節", introduction_section2_index_path, class: "button special" %></li>
			  </ul>
			</footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>