<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本|投資事業管理術</title>
	<meta charset="utf-8" />
	<meta name="description" content="想要免費學習如何投資，嘉鼎資本投資事業管理術是你最好的選擇，不管是台灣、海外投資及企業投資，破解企業營運全都露。">
	<meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 海外投資, 免費投資課程, 企業投資, 台灣, 企業營運">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="index">
	<div id="page-wrapper">
	  <!-- Banner -->
		<section id="banner">
		  <div class="inner">
			<header>
			  <h2>任何人都學得會的投資事業管理術</h2>
			</header>
			<p>不想投資受制於人？誠心不能感動天，自己學會這套方法，<strong>才能擺脫生活及投資無力症！</strong></p>
			<footer>
			  <ul class="buttons vertical">
				<li><%= link_to "線上課程免費註冊中", "#", class: "button fit scrolly" %></li>
			  </ul>
			</footer>
		  </div>
		</section>
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-money"></span>
			<h2>學習投資事業管理術的三大優點</h2>
		  </header>
      <!-- One -->
		<section class="wrapper style1 container special">
		  <div class="row">
			<div class="4u 12u(narrower)">
			  <section>
				<span class="icon featured fa-trophy"></span>
				  <header>
					<h3>提升財務知識</br>
                    生活不再為數字煩惱</h3>
				  </header>
				  學完這套課程，可以從完全不會記帳，變成可以看懂財務報表，連製作自己的投資財務報表也不成問題。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<span class="icon featured fa-trophy"></span>
				  <header>
					<h3>導正投資觀</br>
                    立即掌握標的經濟實力</h3>
				  </header>
				  <p>過去投資失利或者想要學習投資的朋友們，學完這套課程，投資時如何掌握經濟實力，將是您的囊中物。</p>
			  </section>
			</div>
			<div class="4u 12u(narrower)">
			  <section>
				<span class="icon featured fa-trophy"></span>
				  <header>
					<h3>投資遇到管理</br>
                    立即提升至投資2.0</h3>
				  </header>
				  <p>完成課程後，將可透視個人投資成果，邁向個人永續投資事業發展。</p>
			  </section>
			</div>
		  </div>
		</section>
	  <!-- Two -->
		<section class="wrapper style2 container special-alt">
		  <div class="row 50%">
			<div class="8u 12u(narrower)">
			  <header>
				<h2>投資事業管理術到底是如何幫助你成長？</h2>
			  </header>
			  <p>我們過去聽過非常多投資人及合作夥伴投資問題，投資事業管理術是嘉鼎資本研究團隊透過不斷解析問題、提供解決方案所累積的產物，未來我們也會透過分析學習行為來持續改善課程，任何學習者的困難，都將成為下一個人成功的貢獻者，投資環境也因為您的加入更加健全。<strong>線上免費投資學習系統，學習沒有時間限制，註冊會員後可無限重看，有問題歡迎發問。完全了解再繼續下一章節。</strong></p>
			<footer>
			  <ul class="buttons">
				<li> <%= link_to "課程大綱", "#", class: "button" %> </li>
			  </ul>
			</footer>
		  </div>
		  <div class="4u 12u(narrower) important(narrower)">
			<ul class="featured-icons">
			  <li><span class="icon fa-bar-chart"><span class="label">Feature 1</span></span></li>
			  <li><span class="icon fa-line-chart"><span class="label">Feature 2</span></span></li>
			  <li><span class="icon fa-calculator"><span class="label">Feature 3</span></span></li>
			  <li><span class="icon fa-tachometer"><span class="label">Feature 4</span></span></li>
			</ul>
		  </div>
		</section>
	  <!-- Three -->
		<section class="wrapper style3 container special">
		  <header class="major">
			<h3><strong>使用者見證</strong></h3>
		  </header>
		  <div class="row">
			<div class="6u 12u(narrower)">
			  <section>
				<header>
				  <h3>（35歲，外商公司中階主管）</h3>
				</header>
				以前花很多時間在研究財務報表，經朋友介紹使用這套課程，才發現以前用錯方法！</p>
			  </section>
			</div>
			<div class="6u 12u(narrower)">
			  <section>
				<header>
				  <h3>（42歲，貿易公司業務）</h3>
				</header>
				過去上過很多基金投資課程，但上完這個線上課程後，才了解投資重點應該是在產出能力。</p>
			  </section>
			</div>
		  </div>
		  <div class="row">
			<div class="6u 12u(narrower)">
			  <section>
				<header>
				  <h3>（36歲，家庭主婦）</h3>
				</header>
				本來只會用app簡單記帳，上完課後，連先生投資管理的部分，也能夠納入家庭財務報表中。</p>
			  </section>
			</div>
			<div class="6u 12u(narrower)">
			  <section>
				<header>
				  <h3>（22歲，研究生）</h3>
				</header>
				本來是因為需要寫作業才加入會員，但上完後，反而讓我開始投資更具信心！</p>
			  </section>
			</div>
		  </div>
		  <footer class="major">
			<ul class="buttons">
			  <li> <%= link_to "更多見證內容", "#", class: "button" %></li>
			</ul>
		  </footer>
		</section>
		</article>
	  <!-- CTA -->
		<section id="cta">
		  <header>
			<p><h3>現在就加入會員，免費學習線上<strong>投資事業管理術</strong>！</h3>
			實現擺脫投資無力症，你也可以......</p>
		  </header>
		  <footer>
			<ul class="buttons">
			  <li> <%= link_to "免費註冊會員", "#", class: "button special" %> </li>
			  <li> <%= link_to "直接與我們聯繫", "#", class: "button" %> </li>
			</ul>
		  </footer>
		</section>
    </div>
	  <!-- Scripts -->
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>