<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術投資事業重點總結課程回顧</title>
	<meta charset="utf-8" />
  <meta name="description" content="嘉鼎資本投資事業管理術投資事業重點總結課程回顧篇，幫助投資人回顧投資事業管理術內容，包括基本資訊、投資者資訊、財報資訊、資訊解讀、型態分析與歸納、資本估值與資本力、投資事業工具包、建置投資事業、投資事業報表。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 投資事業, 資本力">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>4-2-1 投資事業重點總結——課程回顧篇</h1>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			能夠堅持到這裡的投資人，真的要對你說聲恭喜，因為你已經學會建立起一個有系統、科學化的投資方法。接著，在課程最後回顧一下前面所學，各位投資人就幫自己盤整一下行囊吧！</p>
			<span style="color:black;font-weight:default">■各種資訊對應章節</span></br>
			<div class="table-responsive">
        <table class="table">
				  <tr>
            <td>如何了解一家公司</td>
            <td><%= link_to "1-1 基本資訊", chapter1_section1_part1_index_path %>、<%= link_to "1-2 投資者資訊", chapter1_section2_part1_index_path %>、<%= link_to "1-3 財報資訊", chapter1_section3_part1_index_path %>、<%= link_to "2-1 資訊解讀", chapter2_section1_part1_index_path %>、<%= link_to "2-2 型態分析與歸納", chapter2_section2_part1_index_path %>、<%= link_to "2-3 資本估值與資本力", chapter2_section3_part1_index_path %></td>
          </tr>
				  <tr>
            <td>了解公司的營運內容</td>
            <td><%= link_to "1-1 基本資訊", chapter1_section1_part1_index_path %>、<%= link_to "2-2 型態分析與歸納", chapter2_section2_part1_index_path %></td>
          </tr>
          <tr>
            <td>了解公司的營運好壞、財務資訊與資訊解讀、營運資訊與資訊解讀</td>
            <td><%= link_to "1-3 財報資訊", chapter1_section3_part1_index_path %>、<%= link_to "2-1 資訊解讀", chapter2_section1_part1_index_path %></td>
          </tr>
          <tr>
            <td>獲取公司最新消息</td>
            <td><%= link_to "1-2 投資者資訊", chapter1_section2_part1_index_path %>、<%= link_to "1-3 財報資訊", chapter1_section3_part1_index_path %></td>
          </tr>
          <tr>
            <td>營運型態判斷與分析</td>
            <td><%= link_to "2-1 資訊解讀", chapter2_section1_part1_index_path %>、<%= link_to "2-2 型態分析與歸納", chapter2_section2_part1_index_path %></td>
          </tr>
          <tr>
            <td>營運預估、資本估值</td>
            <td><%= link_to "2-2 型態分析與歸納", chapter2_section2_part1_index_path %>、<%= link_to "2-3 資本估值與資本力", chapter2_section3_part1_index_path %></td>
          </tr> 
          <tr>
            <td>投資事業工具設計與應用</td>
            <td><%= link_to "3-1 投資事業工具包", chapter3_section1_part1_index_path %></td>
          </tr>
          <tr>
            <td>投資事業的建立與應用</td>
            <td><%= link_to "3-1 投資事業工具包", chapter3_section1_part1_index_path %>、<%= link_to "3-2 建置投資事業", chapter3_section2_part1_index_path %></td>
          </tr>
          <tr>
            <td>投資事業的紀錄與衡量</td>
            <td><%= link_to "4-1 投資事業報表", chapter4_section1_part1_index_path %></td>
          </tr>        
        </table>
      </div>
			<p>上表依據不同主題做了一個對照表，例如：投資人如果對於一家公司的營運有興趣，可以參考<%= link_to "1-3 財報資訊", chapter1_section3_part1_index_path %>、<%= link_to "2-1 資訊解讀", chapter2_section1_part1_index_path %>的內容，利用課程所教的方法去切入，之後或許會發現更有興趣的是其營運型態的判斷，那麼<%= link_to "2-2 型態分析與歸納", chapter2_section2_part1_index_path %>的內容就會派上用場。因此透過上表，可以讓投資人更快的找到相關的課程內容。</p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section1_part8_index_path, class: "button" %></li>
        <li><%= link_to "下一節", chapter4_section2_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>