<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術資本估值與資本力資本成長率</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術資本估值與資本力資本成長篇，
	幫助投資人問對的問題。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 資本估值, 資本力, 資本成長率">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>2-3-1 資本估值與資本力——資本成長率篇</h1>
			  <p>目標：學會問對的問題</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
			<p>經過前面幾個小節學習：</br>
			1. <%= link_to "透過基本資訊來篩選投資能力範圍", chapter1_section1_part1_index_path %></br>
			2. <%= link_to "透過投資者及財報資訊來了解公司營運及財報表現", chapter1_section2_part1_index_path %></br>
			3. <%= link_to "透過資訊解讀歸納及分析公司經營型態", chapter2_section1_part1_index_path %></p>
			<p>這時一個投資人常見的問題就會浮現出來，現在是進場的好機會嗎？現在是買點嗎？</p>
			<p>然而這是一個很抽象的問法，畢竟機會與買點是相對而非絕對，就像是某些投資人可能認為有10%的資本成長機會就是買點了，但對某些投資人來說卻想要有20%的成長機會才符合買點。</p>
			<p>投資人最大的考量是，投入現在價格後，資本是否會成長？在未來可以獲利嗎？</p>
			<p>但與其問現在是買點嗎？不如問：現在投入我可以期待資本成長率是多少？例如以150元的價位投入台積電，預期成長率是10%，這樣的成果你能接受嗎？</p>
			這樣一來，讓答案變成更明確及客觀，所以決定是否投入的關鍵，就<mark>從單純的找買點變成了有根據的資本成長率。</mark></p>
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter2_section2_part8_index_path, class: "button" %></li>
              <li><%= link_to "下一節", chapter2_section3_part2_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
		<section class="wrapper style4 container">
          <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>