<!DOCTYPE HTML>
<html>
  <head>
	<title>嘉鼎資本｜投資事業管理術美國上市公司資訊收集</title>
	<meta charset="utf-8" />
	<meta name="description" content="嘉鼎資本投資事業管理術美國上市公司資訊收集篇，幫助投資人學會收集美國上市公司的基本資訊、投資者資訊、公開資訊觀測站，瀏覽包括Coca Cola、Costco、NIKE、Google、Smucker's、McDonald's等網站資訊。">
  <meta name="keywords" content="嘉鼎資本, 投資事業管理術, 投資, 美國上市公司, Coca Cola, Costco, NIKE, Google, Smucker's, McDonald's">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="no-sidebar">
	<div id="page-wrapper">
	  <!-- Main -->
		<article id="main">
		  <header class="special container">
			<span class="icon fa-book"></span>
			  <h1>附錄1：美國上市公司資訊收集篇</h1>
			  <p>目標：學會收集美國上市公司資訊</p>
		  </header>
	  <!-- One -->
		<section class="wrapper style4 container">
	  <!-- Content -->
		<div class="content">
		  <section>
		  	本篇是<strong>投資事業管理術</strong>的補充內容，協助投資人學會收集美國上市公司的<%= link_to "基本資訊", supplement1_index_path(:anchor => "content1") %>、<%= link_to "投資者資訊", supplement1_index_path(:anchor => "content2") %>、<%= link_to "公開資訊觀測站", supplement1_index_path(:anchor => "content3") %>，建議投資人先將投資事業管理術的課程學習完畢，再使用附錄1。
		  	<article id="content1">
		  	  <div class="content">
			    <section>
			      <header>
				    <h2>基本資訊</h2>
			      </header>
			      <span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.nike.com/us/en_us/" target="_blank">NIKE</a>」網站</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-1.png" alt="NIKE"></p>
			      <p>如同台灣的上市公司，美國上市公司也會有自己的資訊網站，先以目前市佔率最高的運動用品公司NIKE為例。</p>
			      <p>眼尖的投資人可能會發現，右上區塊通常可以選擇國家或是地區。這是因為有許多美國上市公司，在世界各國有獨立專屬的該國／區域網站，所以要特別留意選擇美國國旗的美國主站，因為上市地點是美國的證券交易所【註1】，所以重大訊息與財務資訊也會公布在美國主站上。</p>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-2.png" alt="country"></p>
			      <p><pre>【註1】目前美國的證券交易所——NYSE（紐約證券交易所）、NASDAQ（那斯達克證券交易所）、AMEX（美國證券交易所）。</pre></p>
			      <span style="color:black;font-weight:default">■Step 2. 瀏覽「產品分類」</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-3.png" alt="NIKE"></p>
			      <p>NIKE把自己的產品先依據使用者（男性／女性／男孩／女孩／客製化）為主要類別區分，接著再用產品類別或是功能與品牌分類。</p>
			      <p>NIKE的產品分類非常清晰易懂，一看就知道產品有兩大類SHOES（鞋類）與 CLOTHING（服裝），再細看可以看到如：Running（跑步）、Basketball（籃球）、Soccer（足球）等運動分類，也有如Jackets&Vests（外套與背心）、Sorts（短褲）、Socks（襪子）等品項。</p>
			      <p>所以對於NIKE公司有興趣的投資人，官方網站提供了第一手的資訊讓你認識這家公司的產品。另外也可以發掘到其他有趣的資訊，像是最右邊的品牌，可以看到除了NIKE以外，Hurlye與Converse也都是NIKE旗下的子品牌。</p>
			      接著，來練習第二個案例——COSTCO。</p>
			      <span style="color:black;font-weight:default">■Step 3. 點選「<a href="http://www.costco.com" target="_blank">COSTCO</a>」網站</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-4.png" alt="COSTCO"></p>
			      <span style="color:black;font-weight:default">■Step 4. 點選「<a href="http://www.costco.com" target="_blank">Shop All Departments</a>（所有部門購物）」</span></br>
			      <p>點開後有張COSTCO各商品部門的表單，再點開右邊就會出現該部門販售的商品，像是我們點開電子產品——右邊出現了電視、相機、手機、音響等產品。</p>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-5.png" alt="COSTCO"></p>
			      <p>另外還有介紹除了商品外的服務項目，如藥局（Pharmacy）、Photo（照片）等。</p>
			      <span style="color:black;font-weight:default">■Step 5. 點選「<a href="http://www.smuckers.com" target="_blank">SMUCKER'S</a>」網站</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-6.png" alt="SMUCKER'S"></p>
			      <p>接著我們再看到公司簡介，與產品不同的是，公司簡介通常是了解這家公司的發展歷程以及公司文化，以一家美國在地知名的果醬公司SMUCKER'S為例。</p>
			      <span style="color:black;font-weight:default">■Step 6. 點選「<a href="http://www.jmsmucker.com/investor-relations" target="_blank">Our Company</a>」</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-7.png" alt="SMUCKER'S"></p>
			      <p>在Our Company（關於公司）欄位中有四個區塊，分別是Our Culture（公司文化）、Our History（公司歷史）、Our Brands（公司品牌）與Coporate Responsibility（企業責任）。</p>
			      <p>有投資人會問說了解產品不就好了，這個區塊重要嗎？原則上可以這樣理解，基本資訊中產品與服務是一家公司的硬體，而歷史、文化、品牌則是公司的軟體，兩者都能理解投資人才能真正知道這家公司的基本資訊。</p>
			      <span style="color:black;font-weight:default">■Step 7. 點選「<a href="http://corporate.mcdonalds.com/mcd.html" target="_blank">McDonald's</a>」網站</span></br>
			      再看另外一家知名的連鎖速食公司——麥當勞。</br>
			      <p>除了介紹公司的文化與歷史外，麥當勞更添加了公司的Business Model（事業模型），讓投資人可以更好掌握這家公司如何運作。</br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-8.png" alt="McDonald's"></p>
			    </section>
		      </div>
			<article id="content2">
		      <div class="content">
			    <section>
			      <header>
				    <h2>投資者資訊</h2>
			      </header>
			      <p>基本資訊讓投資人認識與理解一家公司的營運，而投資者資訊則像是營運的成績單，可以看出經營的好壞，這邊以知名飲料商品公司可口可樂為例：</br>
			      <span style="color:black;font-weight:default">■Step 1. 點選「<a href="http://www.coca-colacompany.com" target="_blank">Coca Cola</a>」</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-9.png" alt="CocaCola"></p>
			      <span style="color:black;font-weight:default">■Step 2. 點選「<a href="http://www.coca-colacompany.com/investors" target="_blank">Investers</a>」網站</span></br>
			      一般來說，Investors（投資者）的欄位都會放在公司資訊的最上或是最下方，比起基本資訊難找一些，真的找不到的投資人可以透過瀏覽器搜尋investors來協助找尋。
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-10.png" alt="CocaCola"></p>
			      <p>一般來講財務資訊會有最新的收盤報價與財務資訊，對投資人來說，務必先找到財務資訊這塊——Financial Reports & Information。</p>
			      <p>這裡提供了Annual Reports（年報）、Quaterly Reports（季報）、Earning Release（盈餘訊息）、Proxy Statements（代理人資訊）、Non-GAAP Reconcillations（這與美國會計法規相關的規定與資訊，初階投資人可以先跳過）。</p>
			      <p>接著，再看到另外一家公司——Alphabet（Google）的投資者資訊。</br>
			      <span style="color:black;font-weight:default">■Step 3. 點選「<a href="https://abc.xyz" target="_blank">Alphabet</a>（Google）」網站</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-11.png" alt="Google"></p>
			      <span style="color:black;font-weight:default">■Step 4. 點選「<a href="https://abc.xyz/investor/" target="_blank">Investors</a>」</span></br>
			      <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-12.png" alt="Google"></p>
			      <p>最新的季度報告與2015年季度與年度財務報告。</p>
			    </section>
		      </div>
		      <article id="content3">
		      	<div class="content">
			      <section>
			        <header>
				      <h2>美國的公開資訊觀測站</h2>
			        </header>
			        <p>就像是台灣的公開資訊觀測站，美國證券管理委員會要求所有上市公司的公開資訊都必須繳交到EDGAR網站，並提供投資者查詢，查詢的步驟如下。</p>
			        <span style="color:black;font-weight:default">■Step 1. 點選「<a href="https://www.sec.gov/edgar/searchedgar/companysearch.html" target="_blank">EDGAR</a>」</span></br>
			        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-13.png" alt="EDGAR"></p>
			        <p>左邊的是填入詳細公司名稱來搜尋，右邊則是填入交易代號來搜尋。</p>
			        <span style="color:black;font-weight:default">■Step 2. 輸入後得到的公司檔案列表（以可口可樂為例，公司名稱Coca Cola、交易代碼KO）</span></br>
			        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-14.png" alt="EDGAR"></p>
			        <p>可以看到該公司的所有公開資訊檔案都會依照時間陳列出來，這對投資人來說非常重要。對於初階投資人而言，要掌握兩類型的資訊，10-K與10-Q，這兩種檔案分別代表著年報與季報的檔案類別。</p>
			        <p>我們以10-K為例，在欄位File Type（檔案類別）那裏輸入10-K，Prior to（檔案室時間）輸入20150101。</p>
			        <span style="color:black;font-weight:default">■Step 3. 輸入10-K與20050101後會看到</span></br>
			        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/magnficcourse/pics1-15.png" alt="EDGAR"></p>
			        <p>左邊檔案類別都已經是10-K，右邊顯示這是從2015年開始到最新的檔案，也就是從2015年開始的年報資訊，而且這上面的資訊都是經過證管會審查核可，投資者可以放心使用。</p>
			        <p>對初階投資人來說，沒有太多資源或是購買資料庫，可以採用這個由美國證管會免費提供的大型資料庫，有程式能力的投資人，則可編寫自動程式或是巨集來抓取資料。</p>
			      </section>
		        </div>
		        <p>附錄1提供上完課程的投資人一個初步的流程，讓投資人了解如何蒐集美國上市公司的資訊，由於跨到海外投資要負擔的心力與成本都比在台灣高，相對的成果與機會也更強大與寬廣。</p>
		        <p>未來也會製作海外上市公司營運分析，與海外投資事業經營管理等相關課程，有興趣的投資人請在下方留下Email，掌握第一手課程訊息（非廣告信，僅通知課程用）。</p>
		        <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
	              #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                </style>
                <div id="mc_embed_signup">
                <form action="//magnific.us12.list-manage.com/subscribe/post?u=e907b5833e932bc9fda6c9c71&amp;id=5baf2a698b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
	              <label for="mce-EMAIL">對海外投資事業課程有興趣</label>
	              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e907b5833e932bc9fda6c9c71_5baf2a698b" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
                </div>
                <!--End mc_embed_signup-->
		  </section>
		</div>
		</section>
	  <!-- Two -->
		<section class="wrapper style1 container special">
		  <footer class="major">
			<ul class="buttons">
			  <li><%= link_to "上一節", chapter4_section2_part4_index_path, class: "button" %></li>
			  <li><%= link_to "課程大綱", outline_index_path, class: "button special" %></li>
			</ul>
		  </footer>
		</section>
	  <!-- Disqus -->
        <section class="wrapper style4 container">
		  <div id="disqus_thread"></div>
            <script>
            /**
            * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
            */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//magnificbiz.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </section>
        </article>
      </div>
      <!-- Scripts -->
        <script id="dsq-count-scr" src="//magnificbiz.disqus.com/count.js" async></script>
        <script src="https://use.typekit.net/mgd6kfe.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>